* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing:border-box;
}

body {
    margin: 0; /* removes white border around all elements */
}
/* {
    border: 1px solid red;
} */

.info-title-container {
    color: #1F2937;
}

header, .information-container, .testimony-container {
    padding-left: 10%;
    padding-right: 10%;
}

.subtext, .nav-link, .hero-link, .info-subtext {
    font-size: 18px;
}

/* 
    Section 1/5 
    GENERAL & SHARED PROPERTIES (of different sections, same sections go into its own)
*/

header {
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-container, .nav-links-container, .hero-container , .hero-image-container, .information-container, .info-cards-container {
    display: flex;
}

.nav-container, .nav-links-container, .hero-container {
    justify-content: space-between;
}

.subtext, .nav-link, .hero-link{
    color: #E5E7EB;
}

.logo-text, .hero-maintext, .btn {
    color: #F9FAF8;
}

/* Navigation */
.nav-container {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    margin:0;
    width: 100px;
    height: auto;
}

.nav-links-container {
    width: 40%;
    justify-content: space-between;
}

.nav-link, .hero-link, .link {
 text-decoration: none;
}

/* Hero */
.hero-text-container, .hero-image-container {
    width: 48%;
    height: auto;
}

.hero-maintext {
    font-size: 48px;
    font-weight: bolder;
}

.btn {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    padding: 10px 18px;
}

.hero-image-container {
    flex-direction: column;
    justify-content: center;
}

.hero-img {
    width: 100%;
    height:auto;
    border-radius: 50%;
}


/* 
    Section 2 of 5
    GENERAL & SHARED PROPERTIES
*/
.information-container {
    flex-direction: column;
}


/* Information title */
.info-title-container {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

/* Information cards */
.info-cards-container {
    justify-content: space-around;
}

.info-card-subcontainer{
    width: 20%;
    height: auto;
}

.info-card {
    width: 100%;
    height: auto;
    border-radius: 18px;
}
#second-card {
    filter: hue-rotate(270deg);
}

.info-subtext {
    color: #6c6e70;
}


/* 
    Section 3 of 5
    GENERAL & SHARED PROPERTIES
*/
.quote, .quote-author {
    margin: 0;
}

.testimony-container{
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin:0;
}

.quote-author {
    text-align: right;
    margin-top: 10px;
}
