* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0; /* removes white border around all elements */
}

/* 
    Section 1/4 
    GENERAL & SHARED PROPERTIES (of different sections, same sections go into its own)
*/
.logo-text-container, .nav-links-container {
    border: 1px solid red;
}

header {
    background-color: #1F2937;
    padding: 0 10%;
}

.nav-container, .nav-links-container, .hero-container {
    display: flex;
}

.hero-subtext, .header-link{
    font-size: 18px;
    color: #E5E7EB
}

.logo-text, .hero-maintext {
    color: #F9FAF8;
}

/* Navigation */
.nav-container {
    justify-content: space-between;
    padding: 8px 0;
}

.logo-text {
    font-size: 24px;
    margin:0;
}

.nav-links-container {
    width: 40%;
    justify-content: space-around;
}

.nav-links-container a {
 text-decoration: none;
}

/* Hero */
.hero-text-container, .hero-image-container {
    width: 50%;
    height: auto;
}

.hero-maintext {
    font-size: 48px;
    font-weight: bolder;
}





